.inputSection {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  gap: 10px;
  max-width: 300px;
  input {
    background-color: rgba(238, 240, 241, 0.5);
    border: 1px solid rgba(172, 175, 176, 0.3);

    outline: none;
    color: #000;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 12px;
    background-color: #d7dcdd;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 50px;
    text-align: center;

    &:hover {
      background-color: #cee0f0;
    }
  }
  .message {
    color: #f96f65;
    padding-left: 5px;
    font-size: 13px;
  }
}
