.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  .serviceTitle {
    font-size: 20px;
    margin: 5px 10px;
  }
  .title {
    font-weight: 600;
    font-size: large;
    padding: 10px;
  }
  .list {
    list-style: none;
    .item {
      display: flex;
      align-items: center;
      padding: 10px;
      margin: 5px 10px;
      border: 1px solid rgba(var(--card-border-rgb), 0.1);
      border-radius: var(--border-radius);
      background: rgba(var(--card-rgb), 0.1);
      .description {
        padding-left: 10px;
        span {
          font-weight: 600;
        }
      }
    }
  }
}
